.container {
  height: 300px;
  width: 350px;
  background-color: gray;
  border-radius: 5px;
  margin: auto;
  align-items: center;
  padding: 15px;
}
.container input {
  padding: 5px;
  height: 30px;
  width: 160px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#one {
  margin-left: 20px;
}

.output {
  height: 100px;
  width: 200px;
  background-color: black;
  margin: auto;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 50px;
  padding-top: 40px;
}
#operators {
  padding: 13px;
  width: 103px;
  font-size: 20px;
  margin-left: 138px;
}
#btn1 {
  padding: 20px;
  margin: 20px;
  margin-left: 138px;
  width: 100px;
  border-radius: 10px;
  border: none;
}
